
<%= message %>
<form action="/postExample" method="post">
    <label for="fname">First name</label>
    <input type="text" name="fname" id="fname" value="username" /><br />
    <input type="submit" value="submit" /> 
</form>

<br />
<br />
<pre>
    class object: server.IViewTemplate->PostExample
</pre>
<p>Go back to homepage <a href="./">click here</a></p>